saved_models/
real_data_v2/
*.pyc
__pycache__/
logs/
.DS_Store
.vscode/
env/
.venv/
.ipynb_checkpoints/
centralized/__pycache__/
federated/__pycache__/
common/__pycache__/
*.pth
*.pt
*.log
*.csv
*.sqlite3
*.db
*.h5
*.ckpt
*.tar
*.zip
*.egg-info/
dist/
build/
*.egg
*.iml
.idea/
.mypy_cache/
.pytest_cache/
coverage
htmlcov/
.tox/
.nox/   